

<section id="deliver-info" class="clearfix">
  <span><i class="fa fa-truck "></i>  Free shipping over ¥299, use code 5000</span>
</section>

<section id="banner" class="clearfix">
  <div class="wrapper">
    <div class="banner-content">
        <h3 class="title">ALL SHORTS 50% OFF</h3>
        <p class="info">Valid on selected items on hm.com untill 17:00 on 16.08.2017</p>
        <div class="banner-links">
          <nav>
            <a href="#">LADIES</a>
            <a href="#"> MEN</a>
            <a href="#">KIDS</a>
          </nav>
        </div>
    </div>
  </div>
</section>


<section id="first-chilren" class="clearfix">
  <div class="wrapper">
      <div class="content">
        <img src="https://images.pexels.com/photos/262226/pexels-photo-262226.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="">
        <div class="ad-content">
          <h3 class="head-title">AUTUMN SNEAK PEEK</h3>
          <%= link_to("SHOP NOW", products_path, class: "shop-button") %>
        </div>
        <div class="price-info">
          <p class="info">SweatShirt Dress
            <br>$149.00
          </p>
        </div>
      </div>
  </div>
</section>


<section id="collected-product" class="clearfix">
  <div class="wrapper">
    <div class="product-item">
      <div class="image-wrapper">
        <img src="https://images.pexels.com/photos/169047/pexels-photo-169047.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="product">
        <a href="#" class="favourite-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
      </div>
      <div class="product-info">
        <p>Hooded bomber jacket
          <br>¥299.00
        </p>
        <a href="#" class="shop-link">Shop New</a>
      </div>
    </div>

    <div class="product-item">
      <div class="image-wrapper">
        <img src="https://images.pexels.com/photos/169047/pexels-photo-169047.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="product">
        <a href="#" class="favourite-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
      </div>
      <div class="product-info">
        <p>Hooded bomber jacket
          <br>¥299.00
        </p>
        <a href="#" class="shop-link">Shop New</a>
      </div>
    </div>

    <div class="product-item">
      <div class="image-wrapper">
        <img src="https://images.pexels.com/photos/169047/pexels-photo-169047.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="product">
        <a href="#" class="favourite-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
      </div>
      <div class="product-info">
        <p>Hooded bomber jacket
          <br>¥299.00
        </p>
        <a href="#" class="shop-link">Shop New</a>
      </div>
    </div>

    <div class="product-item">
      <div class="image-wrapper">
        <img src="https://images.pexels.com/photos/169047/pexels-photo-169047.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="product">
        <a href="#" class="favourite-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
      </div>
      <div class="product-info">
        <p>Hooded bomber jacket
          <br>¥299.00
        </p>
        <a href="#" class="shop-link">Shop New</a>
      </div>
    </div>
  </div>
</section>
