/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

//------------------------ Variable ------------------------//
$main: #0D0D0D;
$secondary: #555555;
$white: #FFFFFF;
$red: #E07277;
$lightgray: #C8C8C8;

//------------------------ Global Style ------------------------//
html, body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  width: 1440px;
  max-width: 80%;
  margin: 0 auto;
}

/* button style */


//------------------------ Header Style ------------------------//
#top-header {
  padding: 1em 1em 2em 1em;
  border-bottom: 2px solid $lightgray ;
  .header-wrapper {
    width: 100%;
    margin:0 auto;
  }
  .nav-left, .nav-right {
      a {
        font-size: .5em;
        text-decoration: none;
        color: $secondary;
        &:hover {
          color: $main;
        }
      }
      strong {
        color:$main;
        &:hover {
          color: $secondary;
        }
      }
  }
  .nav-left {
    display: inline;
    a {
      margin-right: 1.3em;
    }
  }

  .nav-right {
    display: inline;
    float: right;
    a {
      margin-left: 1.3em;
    }
  }

  .logo {
    width: 70px;
    margin: 0 auto;
    padding: 2em 0;
    img {
      width: 100%;
    }
  }

  .primary-menu {
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    li {
      display: inline-block;
      padding: 0 2em;
      a {
        color: $main;
        font-weight: bolder;
        font-size: 1.1em;
      }
    }
  }
}


//------------------------Footer Style ------------------------//
#footer-menu {
  background-color: $main;
  padding: 3em 0;
  color:$white;
  .four-menu {
    width: 100%;
    nav {
      width: 25%;
      float:left;
      display: block;
      h4 {
        font-size: .8em;
        font-weight: bold;
      }
      ul {
        list-style-type: none;
        padding: 0;
        li {
          a {
            color: $lightgray;
            text-decoration: none;
            font-size: .5em;
            &:hover {
              color: $white;
            }
          }
        }
        #sign-up {
          width: 100px;
          border: none;
          background-color: $white;
          text-align: center;
          padding: .8em 1.5em;
          font-size: .8em;
          font-weight: bold;
          margin-top: 1em;
          &:hover {
            background-color: $lightgray;
          }
          a {
            color: $main;
          }
        }
      }
    }
  }

  /*------------- share buuton -------------*/
  .share-button {
    padding: 3em 0;
    ul {
      list-style-type: none;
      padding: 0;
      text-align: center;
      li {
        display: inline;
        padding: 0 1em;
        i {
          font-size: 2em;
          color: $white;
          &:hover {
            color: $lightgray;
          }
        }
      }
    }
  }
/*------------- Description -------------*/
.description {
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  font-size: .5em;
  text-align: center;
}
/*------------- Logo -------------*/
.logo {
  width: 70px;
  margin: 0 auto;
  padding: 2em 0;
  margin-top: 1em;
  img {
    width: 100%;
  }
}
}

/*------------- deliver -------------*/
#deliver-info {
  background-color: #F3F3F3;
  text-align: center;
  padding:1em 0;
  border-top: 1px solid $lightgray;
  i {
    font-size: 1.3em;
  }
}

/*------------- banner -------------*/
#banner {
  margin-top: 3em;
  .banner-content {
    background: #C7DCCB;
    text-align: center;
    padding: 1.5em 0;
    color: $white;
    .title {
      margin:0;
      margin-bottom: .5em;
      font-size: 2em;
      font-weight: 700;
    }
    .info {
      font-size: .6em;
      font-weight: 400;
    }
  }
  .banner-links {
    nav {
      a{
        text-decoration: underline;
        margin: 0 .5em;
        color: $white;
        &:hover {
          color: $main;
        }
      }
    }
  }
}

/*------------- first-children -------------*/
#first-chilren {
  margin-top: 1.5em;
  .content {
    width: 100%;
    max-width: 100%;
    position: relative;
    img {
      display: block;
      width: 100%;
    }
    .ad-content {
      position: absolute;
      text-align: center;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      margin-bottom: 3em;
      .head-title {
        color: $red;
        font-size: 3em;
        font-weight: 900;
        margin-bottom: .6em;
      }
      .shop-button {
        display: inline-block;
        padding: .5em 1.2em;
        background-color: $main;
        color: $red;
        text-decoration: none;
        &:hover {
          background-color: $secondary;
        }
      }
    }
    .price-info {
      position: absolute;
      top:50%;
      left:80%;
      .info {
        font-size: 1.3em;
        color: $white;
      }
    }
  }
}

/*------------- collected-product -------------*/
#collected-product {
  margin-top: 1.5em;
  .product-item {
    width: 24%;
    float: left;
    margin-right: 1%;
    .image-wrapper {
      width: 100%;
      position: relative;
      img {
        width: 100%;
      }
      .favourite-icon {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: .5em .5em .3em .5em;
        border: 1px solid $lightgray;
        border-radius: 90%;
        background: $white;
        i {
          font-size: 1.3em;
          color: $red;
        }
      }
    }
    .product-info {
      text-align: center;
      .shop-link {
        color: $main;
        font-size: 1em;
        font-weight: bolder;
        text-decoration: underline;
        text-transform: uppercase;
      }
    }
  }
}
