/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

//------------------------ Variable ------------------------//
$main: #0D0D0D;
$secondary: #555555;
$white: #FFFFFF;
$red: #E07277;
$lightgray: #C8C8C8;

//------------------------ Global Style ------------------------//
html, body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  width: 1440px;
  max-width: 80%;
  margin: 0 auto;
}



//------------------------ Header Style ------------------------//
#top-header {
  padding: 1em 1em 1em 1em;
  .header-wrapper {
    width: 100%;
    margin:0 auto;
  }
  .nav-left, .nav-right {
      a {
        font-size: .5em;
        text-decoration: none;
        color: $secondary;
        &:hover {
          color: $main;
        }
      }
      strong {
        color:$main;
        &:hover {
          color: $secondary;
        }
      }
  }
  .nav-left {
    display: inline;
    a {
      margin-right: 1.3em;
    }
  }

  .nav-right {
    display: inline;
    float: right;
    a {
      margin-left: 1.3em;
    }
  }

  .logo {
    width: 70px;
    margin: 0 auto;
    padding: 2em 0;
    img {
      width: 100%;
    }
  }

  .primary-menu {
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    li {
      display: inline-block;
      padding: 0 2em;
      a {
        color: $main;
        font-weight: bolder;
      }
    }
  }
}


//------------------------Footer Style ------------------------//
#footer-menu {
  background-color: $main;
  padding: 3em 0;
  color:$white;
  .four-menu {
    width: 100%;
    nav {
      width: 25%;
      float:left;
      display: block;
      h4 {
        font-size: .8em;
        font-weight: bold;
      }
      ul {
        list-style-type: none;
        padding: 0;
        li {
          a {
            color: $lightgray;
            text-decoration: none;
            font-size: .5em;
            &:hover {
              color: $white;
            }
          }
        }
        #sign-up {
          width: 100px;
          border: none;
          background-color: $white;
          text-align: center;
          padding: .8em 1.5em;
          font-size: .8em;
          font-weight: bold;
          margin-top: 1em;
          &:hover {
            background-color: $lightgray;
          }
          a {
            color: $main;
          }
        }
      }
    }
  }

  /*------------- share buuton -------------*/
  .share-button {
    padding: 3em 0;
    ul {
      list-style-type: none;
      padding: 0;
      text-align: center;
      li {
        display: inline;
        padding: 0 1em;
        i {
          font-size: 2em;
          color: $white;
          &:hover {
            color: $lightgray;
          }
        }
      }
    }
  }
/*------------- Description -------------*/
.description {
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  font-size: .5em;
  text-align: center;
}
/*------------- Logo -------------*/
.logo {
  width: 70px;
  margin: 0 auto;
  padding: 2em 0;
  margin-top: 1em;
  img {
    width: 100%;
  }
}

}
