// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//------------------------ Variable ------------------------//
$main: #0D0D0D;
$secondary: #555555;
$white: #FFFFFF;
$red: #E07277;
$lightgray: #C8C8C8;

//------------------------ Global Style ------------------------//
html, body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  width: 1440px;
  max-width: 80%;
  margin: 0 auto;
}

/* button style */



//------------------------ ladies-product-index ------------------------//
#ladies-product-index {
  margin-top: 1.5em;
  #nav-list {
    max-width: 90%;
    .list-item {
      padding: 0;
      list-style-type: none;
      h3 {
        font-size: .6em;
        font-weight: bolder;
        color: $main;
        margin-top: 0;
        margin-bottom: .5em;
      }
      a {
        text-decoration: none;
        color: $lightgray;
        font-size: .6em;
        font-weight: 300;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
  .row {
    margin: 0 -0.8em;
  }
  #product-index {
    .banner {
      width: 100%;
      max-width: 100%;
      position: relative;
      img {
        width: 100%;
      }
      .banner-info {
        position: absolute;
        text-align: center;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        padding-bottom: 3em;
        color: $white;
        .description {
          font-size: 1em;
          letter-spacing: .5em;
        }
        .head-title {
          font-size: 2.5em;
          font-weight: 700;
          letter-spacing: .1em;
        }
      }
    }
    .product-item {
      padding: 0 0.8em;
      margin-top: 1.5em;
      .image-wrapper {
        width: 100%;
        position: relative;
        img {
          width: 100%;
        }
        .favourite-icon {
          display: inline-block;
          position: absolute;
          bottom: 0;
          right: 0;
          padding: .5em .5em .3em .5em;
          border: 1px solid $lightgray;
          border-radius: 90%;
          background: $white;
          i {
            font-size: 1.3em;
            color: $red;
          }
        }
      }
      .product-info {
        padding: 1em 0;
        text-align: center;
      }
    }
  }
}

//------------------------ Ladies-Product-Show-Style ------------------------//
#product-show{
  margin-top: 2em;
  #thumb-image {
    padding: 0;
    img {
      display: block;
      width: 100%;
      margin-bottom: 1em;
    }
  }
  #details-image {
    img {
      width: 100%;
    }
  }
  #product-info {
    .commen {
      margin-top: 1.5em;
      .span {
        font-size: 1em;
        font-weight: bolder;
      }
    }
    .normal-info {
      h3 {
        margin: 0;
      }
      .product-price {
        font-weight: 700;
        margin-top: .3em;
      }
    }
    .color {
      ul {
        list-style-type: none;
        padding: 0;
        li {
          display: inline-block;
          background: gray;
          border: 1px solid $main;
          padding:0 .6em;
          a {
            font-size: 1.5em;
            text-decoration: none;
            color: gray;
          }
        }
      }
    }
    .size {
      ul {
        list-style-type: none;
        padding: 0;
        li {
          display: inline-block;
          padding:.3em 1em;
          background: $main;
          margin-top: .3em;
          a {
            text-decoration: none;
            color: $white;
            font-size: .7em;
            &:hover {
              color: $lightgray;
              }
            }
          }
        }
      }
      .size-guaid {
        text-decoration: none;
        color: $main;
        text-decoration: underline;
        font-size: .8em;
        &:hover {
          color:$lightgray;
      }
    }
    .button-wrapper {
      ul {
        list-style-type: none;
        padding: 0;
        li {
          display: inline-block;
          padding:.5em 1.2em;
          background: $main;
          border: 3px solid $main;
          color:$white;
          margin-top: .3em;
          &:hover {
            background: $lightgray;
          }
          a {
            text-transform: uppercase;
            text-decoration: none;
            color:$white;
            font-weight: 900;
          }
        }
      }
    }
    .more-info {
      width: 100%;
      .links {
        list-style-type: none;
        margin: 0;
        padding: .5em 1em;
        border: 1px solid $lightgray;
        li {
          display: inline-block;
          margin-right: 1em;
          a {
            text-decoration: none;
            color: $lightgray;
            font-size: .8em;
            &:hover {
              color: $main;
            }
          }
          .current {
            color: $main;
          }
        }
      }
      .info-details {
        border: 1px solid $lightgray;
        padding: .5em 1em;
        height: 10em;
        font-size: .6em;
      }
    }
  }
}

//------------------------ Style-With ------------------------//
#style-with {
  .product-item {
    .image-wrapper {
      position: relative;
      img {
        width: 100%;
      }
      .favourite-icon {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: .5em .5em .3em .5em;
        border: 1px solid $lightgray;
        border-radius: 90%;
        background: $white;
        i {
          font-size: 1.3em;
          color: $red;
        }
      }
    }
    .product-info {
      padding: 1em 0;
      text-align: center;
    }
  }
}
