<footer id="footer-menu">
  <div class="wrapper">
    <div class="four-menu clearfix">
        <nav>
          <h4>SHOP</h4>
          <ul>
            <li><a href="#">LADIES</a></li>
            <li><a href="#">MEN</a></li>
            <li><a href="#">KIDS</a></li>
            <li><a href="#">H&amp;M HOME</a></li>
          </ul>
        </nav>

        <nav>
          <h4>CORPORATE INFO</h4>
          <ul>
            <li><a href="#">LADIES</a></li>
            <li><a href="#">MEN</a></li>
            <li><a href="#">KIDS</a></li>
            <li><a href="#">H&amp;M HOME</a></li>
            <li><a href="#">KIDS</a></li>
            <li><a href="#">KIDS</a></li>
          </ul>
        </nav>

        <nav>
          <h4>SHOP</h4>
          <ul>
            <li><a href="#">LADIES</a></li>
            <li><a href="#">MEN</a></li>
            <li><a href="#">KIDS</a></li>
          </ul>
        </nav>

        <nav>
          <h4>Sign up for newsletter</h4>
          <ul>
            <li><a href="#">Sign up for newsletter for discount Sign up for newsletter</a></li>
            <li id="sign-up"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
    </div>

    <div class="share-button">
      <ul class="share-button">
        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-weixin" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>

    <p class="description">H&amp;M’s business concept is to offer fashion and quality at the best price in a sustainable way. H&M has since it was founded in 1947 grown into one of the world's leading fashion companies. The content of this site is copyright-protected and is the property of H &amp; M Hennes &amp; Mauritz AB.</p>

    <div class="logo">
      <a href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/H%26M-Logo.svg" alt="logo">
      </a>
    </div>
  </div>
</footer>
